.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > * {
  box-sizing: border-box;
}

.header * {
  color: var(--contrary-primary-text-color);
}

.header__title {
  font-size: var(--header-title-font-size);
  line-height: 1;
  padding: var(--spacing-unit) 0;
}

.header a {
  color: var(--contrary-primary-text-color);
}

.navbar {
  display: flex;
  padding-right: calc(var(--spacing-unit) * 2);
}

.navbar__link {
  padding-left: calc(var(--spacing-unit) * 2);
  font-size: 1.6rem;
}

.navbar__menu-icon {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header,
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition-duration: 250ms;
    padding: 0;
  }

  .navbar > * {
    width: 100%;
    padding: calc(var(--spacing-unit)) calc(var(--spacing-unit) * 2);
    border-top: 1px solid var(--highlight);
  }

  .navbar-toggle {
    max-height: calc(60px * 3); /* number of links */
  }

  .navbar__menu-icon {
    display: block;
    position: absolute;
    top: var(--spacing-unit);
    right: calc(var(--spacing-unit) * 2);
    align-self: flex-end;
    height: 2.4rem;
    width: 2.4rem !important;
    cursor: pointer;
  }
}
