@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --primary-color: #0a0abc;
  --secondary-color: #0052cc;
  --light-accent-color: #deebff;
  --dark-accent-color: #98c1ff;

  --gray-0: #fff;
  --gray-1: #f9f9fa;
  --gray-2: #eee;
  --gray-3: #c0c0c0;
  --gray-4: #a9a9a9;
  --gray-5: #808080;

  --dark-gray-0: #000;
  --dark-gray-1: #2b3647;
  --dark-gray-2: #323f54;
  --dark-gray-3: #42526e;
  --dark-gray-4: #495b7a;

  --highlight: rgba(255, 255, 255, 0.15);

  /* background */
  --white-background-color: var(--gray-0);
  --light-gray-background-color: var(--gray-1);
  --dark-gray-background-color: var(--dark-gray-4);

  --blue-accent-background-color: var(--light-accent-color);
  --dark-blue-accent-background-color: var(--dark-accent-color);

  /* text color */
  --primary-text-color: var(--dark-gray-2);
  --secondary-text-color: var(--dark-gray-3);
  --contrary-primary-text-color: var(--gray-0);
  --contrary-secondary-color: var(--gray-2);

  /* border color */
  --primary-border-color: var(--gray-3);
  --secondary-border-color: var(--gray-4);

  /* spacing */
  --spacing-unit: 2rem;

  /* specific */
  --header-title-font-size: 2.4rem;
  --footer-height: 150px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding-top: calc(var(--header-title-font-size) + 2 * var(--spacing-unit));
  padding-bottom: var(--footer-height);
  font-size: 1.6rem;
  font-size: calc(14px + (20 - 14) * ((100vw - 1024px) / (4096 - 1024)));
  color: var(--primary-text-color);
  background-color: var(--light-gray-background-color);
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  transition: top 0.25s;

  background-color: var(--primary-color);
  z-index: 1;
}

header.scroll-down {
  top: -64px;
}

section {
  padding: calc(var(--spacing-unit) * 4) 0;
  background-color: var(--white-background-color);
  width: 100%;
}

section:nth-child(even) {
  background-color: var(--blue-accent-background-color);
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: var(--footer-height);
  color: var(--contrary-primary-text-color);
}

article h1,
aside h1,
section h1 {
  font-size: 2em;
}

article h1 {
  border-bottom: 1px solid var(--primary-border-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 > a {
  text-decoration: none;
}

p {
  line-height: 1.5em;
}

blockquote {
  border-left: 4px solid var(--secondary-color);
  border-radius: 0 4px 4px 0;
  background-color: var(--blue-accent-background-color);
  padding: var(--spacing-unit);
}

blockquote > p {
  margin: 0;
  font-style: italic;
}

blockquote sup {
  color: var(--secondary-color);
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.accent,
strong {
  color: var(--secondary-color);
}

a {
  background-color: var(--blue-accent-background-color);
  text-decoration: none;
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  transition: 0.5s;
  border-radius: 4px 4px 0 0;
}

a:hover {
  color: var(--primary-color);
  background-color: var(--dark-blue-accent-background-color);
}

a.no-decoration,
a.no-decoration:hover {
  background-color: transparent;
  color: inherit;
  border-bottom: none;
}

img {
  width: 100%;
  display: block;
}

ol {
  list-style: none;
  counter-reset: ol-counter;
}

ol li {
  counter-increment: ol-counter;
}

ol li::before {
  content: counter(ol-counter) ". ";
  color: var(--secondary-color);
  font-weight: bold;
}

li > p {
  margin: 0; /* the markdownremark plugin adds p tag on the li before the nested list */
  display: inline;
}

/***************
 * Utilty Class
 ***************/

.container {
  width: 980px;
  max-width: 980px;
  padding: 0 var(--spacing-unit);
  margin: 0 auto;
}

@media only screen and (max-width: 980px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

.page {
  margin-top: var(--spacing-unit);
  margin-bottom: var(--spacing-unit);
}

/* Box Shadow */

.hover-box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hover-box-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.light-box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.heavy-box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
