.card {
  background-color: var(--white-background-color);
  border: 1px solid var(--primary-border-color);
  margin: var(--spacing-unit) 0;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .card {
    margin: var(--spacing-unit);
  }
}

.image {
  border-radius: 8px 8px 0 0;
}

.bottomSection {
  padding: var(--spacing-unit);
}
