.articleTemplate span {
  font-size: 1.4rem;
  color: var(--secondary-text-color);
}

.articleTemplate span.accent {
  color: var(--secondary-color);
}

.mainTitle {
  font-size: 2.5em;
}

.tags {
  margin: 1em 0;
}
